<div class="page-header">
	<h1>Orders</h1>
	<a href="#/add-order" class="btn btn-success" role="button">Add Order</a>
</div>

<div class="row" data-ng-repeat="order in orders" data-ng-if="orders">
	<div class="col-sm-4 col-md-3">
		<div class="thumbnail">
			<img src="//fillmurray.com/242/200" alt="image">
			<div class="caption">
				<ul>
					<li>Product: {{ order.product }}</li>
					<li>Price: £{{ order.price }}</li>
					<li>Customer: <a href="#/customer-details/{{ order.customer.customerId }}">{{ order.customer.name }}</a></li>
				</ul>
				<p><a href="#/edit-order/{{ order.id }}" class="btn btn-success btn-block" role="button">Edit Order</a></p>
				<p><a href="#" onclick="event.preventDefault();" class="btn btn-danger btn-block" role="button" data-ng-click="deleteOrder(order.id)">Delete Order</a></p>
			</div>
		</div>
	</div>
</div>

<h3 data-ng-if="!orders">No Orders</h3>